section#archive.archive.scroll-spy

	h1.section_header.wow.fadeInUp архив
	.archive-list
		.archive-item
			.archive-item__img
				a(href="meetup-1.html")
					img(src="/img/meetup-0/afisha.jpg")
			h2.archive-item__title
				a.archive-item__link(href='meetup-1.html') KharkivFrontend Meetup #0
		.archive-item
			.archive-item__img
				a(href="meetup-2.html")
					img(src="/img/meetup-2/afisha.png")
			h2.archive-item__title
				a.archive-item__link(href='meetup-2.html') KharkivFrontend Meetup #2


