include templates/head.pug
include templates/header.pug

main
  section
    .container
      // ba-slider start
      .ba-slider
        .ba-slide
          img(src='https://via.placeholder.com/150/0000FF/808080 ?Text=Digital.com' alt='text')
        .ba-slide
          img(src='https://via.placeholder.com/150/0000FF/808080 ?Text=Digital.com' alt='text')
        .ba-slide
          img(src='https://via.placeholder.com/150/0000FF/808080 ?Text=Digital.com' alt='text')
        .ba-slide
          img(src='https://via.placeholder.com/150/0000FF/808080 ?Text=Digital.com' alt='text')
      // ba-slider end
  
  section.test
    p= content
    p= author

  section#map(style='height: 400px; width: 100%;')


include templates/footer.pug
