include mixins/mixins.pug

include templates/head.pug
include templates/header.pug

main
  section
    .container
    
  
  section.test
    p= content
    p= author
    p= menu

  section#map(style='height: 400px; width: 100%;')


include templates/footer.pug
