extends ./layout/default_layout

block title_name
    title=title


block main_content
    include ../elements/preloader/index

    include ../elements/menu/menu-meetup

    section#intro.intro.intro-item.scroll-spy
        img.intro-logo.intro-logo-item.wow.fadeInUp(alt='Kharkiv front-eng logo', src='img/logo.png')
        h1.wow.fadeInUp.intro-event_name.intro-event-item_name(data-wow-delay='.2s') #_0
        .intro-info.intro-info_big.wow.fadeInUp
            p 9 декабря 2017 года прошел первый KharkivFrontend Meetup.
            p Послушать про Frontend пришло около 100 человек. Были рассмотрены самые разнообразные темы от написания своего boilerplate до использования Service Worker на реальных проектах, ниже видео и описание докладов.
    section#speakers.speakers.scroll-spy
        h1.section_header.wow.fadeInUp speakers
        .speakers-list.speakers-list-item
            .speakers-person.speakers-person-item.wow.fadeInUp(data-wow-duration='1s')
                .speakers-person-wrap
                    .speakers-person-image-wrap
                        .speakers-person-image(style="background-image: url('https://scontent.fiev12-1.fna.fbcdn.net/v/t1.0-9/20842283_1913510102239055_4015372150525010782_n.jpg?oh=9c95d5ac46eb819367e07f3a92ebad48&oe=5B43EB02')")
                    h2.speakers-person-name Виталий Петренко
                .speakers-person-talk
                    h2.speakers-talk-name.speakers-talk-name_without-dec HTMLBoilerplate своими руками. Без регистрации и SMS.
                    p.speakers-talk-item-info
                        | Как написать свой Boilerplate для верстки с webpack и не сойти с ума.
                    a.speakers-talk-link(href="https://www.youtube.com/watch?v=MiCzHtgQIqs&list=PLDddScyTGZAvMNlREfTpW2MYnmC2aj1uf" target="_blank") Ссылка на видео

            .speakers-person.speakers-person-item.wow.fadeInUp(data-wow-duration='1s')
                .speakers-person-wrap
                    .speakers-person-image-wrap
                        .speakers-person-image(style="background-image: url('img/oleh-momot.png');")
                    h2.speakers-person-name Олег Момот
                .speakers-person-talk
                    h2.speakers-talk-name.speakers-talk-name_without-dec GraphQL. Еще одна JavaScript библиотека? Зачем?
                    p.speakers-talk-item-info
                        | Что такое REST API? Что не так с REST API? Что же такое этот GraphQL? Пробуем GraphQL на "вкус" Все ли так хорошо, как кажется?
                    a.speakers-talk-link(href="https://www.youtube.com/watch?v=9cClYOn8pq8&index=2&list=PLDddScyTGZAvMNlREfTpW2MYnmC2aj1uf" target="_blank") Ссылка на видео

            .speakers-person.speakers-person-item.wow.fadeInUp(data-wow-duration='1s')
                .speakers-person-wrap
                    .speakers-person-image-wrap
                        .speakers-person-image(style="background-image: url('/img/speaker4.jpg')")
                    h2.speakers-person-name Дарья Лиманская
                .speakers-person-talk
                    h2.speakers-talk-name.speakers-talk-name_without-dec D3.js - инструмент для работы с данными
                    p.speakers-talk-item-info
                        | Что такое d3js и основы работы с svg; использование scales со всеми вытекающими последствиями (pan / zoom / distortions); layouts, или как визуализировать взаимосвязанные данные; d3 geo; ну и что же делать с Performance.
                    a.speakers-talk-link(href="https://www.youtube.com/watch?v=y0PE63mYGiw&list=PLDddScyTGZAvMNlREfTpW2MYnmC2aj1uf&index=3" target="_blank") Ссылка на видео

            .speakers-person.speakers-person-item.wow.fadeInUp(data-wow-duration='1s')
                .speakers-person-wrap
                    .speakers-person-image-wrap
                        .speakers-person-image(style="background-image: url('/img/kalinina.png')")
                    h2.speakers-person-name Александра Калинина
                .speakers-person-talk
                    h2.speakers-talk-name.speakers-talk-name_without-dec Service Worker на проде
                    p.speakers-talk-item-info
                        | зачем SW нужен на проде; типовая конфигурация; типичные ошибки/решения.
                    a.speakers-talk-link(href="https://www.youtube.com/watch?v=QWt3HSrqXw4&index=4&list=PLDddScyTGZAvMNlREfTpW2MYnmC2aj1uf" target="_blank") Ссылка на видео

            .speakers-person.speakers-person-item.wow.fadeInUp(data-wow-duration='1s')
                .speakers-person-wrap
                    .speakers-person-image-wrap
                        .speakers-person-image(style="background-image: url('/img/smolyaninov.jpg')")
                    h2.speakers-person-name Александр Смолянинов
                .speakers-person-talk
                    h2.speakers-talk-name.speakers-talk-name_without-dec Как заработать на accessibility?
                    p.speakers-talk-item-info
                        | Что такое accessibility и зачем это лично вам; актуальные законы; дизайн с учетом доступности; разметка, js, фреймворки; как заработать на этой теме.
                    a.speakers-talk-link(href="https://www.youtube.com/watch?v=XI6Y7HHURpo&index=5&list=PLDddScyTGZAvMNlREfTpW2MYnmC2aj1uf" target="_blank") Ссылка на видео

            .speakers-person.speakers-person-item.wow.fadeInUp(data-wow-duration='1s')
                .speakers-person-wrap
                    .speakers-person-image-wrap
                        .speakers-person-image(style="background-image: url('/img/chub.jpg')")
                    h2.speakers-person-name Вячеслав Чуб
                .speakers-person-talk
                    h2.speakers-talk-name.speakers-talk-name_without-dec Свежий взгляд на KISS
                    p.speakers-talk-item-info
                        | KISS принцип и наши ошибки; неоднородность простоты кода; антипаттерны восприятия простоты; считаем код; сделаем проект лучше при помощи Screen Review; а также выясним, что такое просто и, что такое сложно: научимся думать по-новому.
                    a.speakers-talk-link(href="https://www.youtube.com/watch?v=BweUe7V-xLQ&index=6&list=PLDddScyTGZAvMNlREfTpW2MYnmC2aj1uf" target="_blank") Ссылка на видео





    section#photo.meetup-photos.scroll-spy
        h1.section_header.wow.fadeInUp Photos
        .photo-list
            .photo.photo-25
                img(src="/img/meetup-0/1.jpg")
            .photo.photo-50
                img(src="/img/meetup-0/4.jpg")
            .photo.photo-25
                img(src="/img/meetup-0/6.jpg")
            .photo.photo-30
                img(src="/img/meetup-0/2.jpg")
            .photo.photo-30
                img(src="/img/meetup-0/3.jpg")
            .photo.photo-30
                img(src="/img/meetup-0/5.jpg")
        a.button.button_center(href="https://www.facebook.com/pg/KharkivFrontend/photos/?tab=album&album_id=526650724394254" target="_blank") Больше фото
    include ../elements/archive/index
    include ../elements/map/index
    //- include ../elements/ticket/index