section#partners.sponsors.scroll-spy
    h1.section_header.wow.fadeInUp партнеры
    .sponsors-list
        .sponsor.wow.fadeInUp
            .sponsor-image-wrap
                a(href=' https://svitla.com/ ')
                    img.sponsor-image(src='/img/svitla.png')
                p.sponsor-info
                    strong Svitla Systems
                    |  является глобальным поставщиком услуг по разработке программного обеспечения. Штаб-квартира Svitla Systems находится в Кремниевой долине, что позволяет ей развивать проекты для компаний самого разного уровня, от небольших стартапов до таких известных игроков как
                    em BMC Software, Ancestry, Ingenico, Logitech, Inflection и Stanford University
                    | .
        .sponsor.wow.fadeInUp
            .sponsor-image-wrap
                a(href=' https://macuser.ua/')
                    img.sponsor-image.sponsor-image_small(src='/img/macuser.png')
                h4.sponsor-title MACUSER
                .sponsor-info
                    p 100% качественных товаров и услуг точно вовремя.
                    p От первых шагов до крупномасштабных проектов.
                    p
                        | Компания
                        strong «MACUSER»
                        |  поможет внедрить продукты Apple в вашу рабочую среду.
                    p
                        | Продажа, обучение, ремонт, техническая поддержка, текущее обслуживание устройств.
        .sponsor.wow.fadeInUp
            .sponsor-image-wrap
                a(href=' https://balka-book.com?partner_id=19757 ')
                    img.sponsor-image.sponsor-image_middle(src='/img/BalkaBook.png')
                h4.sponsor-title BalkaBook
                .sponsor-info
                    p Один из первых книжных интернет-магазинов Украины.
                    p работает с издательствами СНГ и со всеми издательствами учебной литературы Украины. Предлагает лучший в Украине выбор компьютерной литературы,
                    p
                        strong «BalkaBook»
                        | ваш проводник в мире книг