header.ba-header
  .container.ba-header__container
    a.ba-logo(href='#') Logo
    nav
      ul.menu.row
        li.menu__item
          a.menu__link(href='#') item 1
        li.menu__item
          a.menu__link(href='#') item 2
        li.menu__item
          a.menu__link(href='#') item 3
        li.menu__item
          a.menu__link(href='#') item 4